<h1><%= @user.name%></h1>

<h3>Email: <%= @user.email%></h3>

<h4>Events Created:</h4>
<% @created_events.each do |event| %>

<p><%= event.name%></p>

<% end %>


<h4>Events Attending:</h4>
<% @user.events.each do |event| %>

<p><%= event.name%>  /  <%= link_to "not going", not_attending_path(event.id), method: :delete %></p>

<% end %>