<h1><%= @user.name%></h1>

<h2>Email: <%= @user.email%></h2>

<h3>Events Created:</h3>
<% @created_events.each do |event| %>

<h5><%= event.name%></h5>

<% end %>


<h3>Events Attending:</h3>
<% @user.events.each do |event| %>

<h5><%= event.name%></h5>

<% if @current_user.id == @user.id%>

<button type="button" class="btn btn-warning btn-xs"><%= link_to "changed my mind", not_attending_path(event.id), method: :delete %></button>

<% end %>
<% end %>