<%= form_for([@event, @photo], html:{class:"form-horizontal", role:"form"}) do |f| %>
	<%= render partial:'shared/errors', locals:{instance:@photo}  %>
	<div class="form-group">
		<%= f.label :url, class:"col-md-2"  %>
		<div class="col-sm-7">
			<%= f.uploadcare_field :url, class:"form-control", id:"photo_url" %><p class="help-block">click button or link to add photos</p>
		</div>
	</div>

	<div class="form-group">
		<%= f.label :description, class:"col-md-2"  %>
		<div class="col-sm-7">
			<%= f.text_area :description, class:"form-control", id:"photo_description" %>
		</div>
	</div>

	<div class="actions col-sm-offset-2">
		<%= f.submit class:"btn btn-primary" %>
	</div>
<% end %>