<h1>Edit <%= @event.name%></h1>

 <%= link_to "Delete", @event, method: :delete,  class:"btn btn-danger" %>
<br>
<br>
<%= render partial: 'form' %>

<div class="row">
  <% @event.photos.each do |photo| %>
    <div class="col-sm-6 col-md-4" style="height:436.667px;">
      <div class="thumbnail">
        <%= image_tag(photo.url) %>
        <div class="caption">
            <p><%= photo.description %></p>
           <p>added by: <%= link_to photo.creator_name, user_path(photo.creator_id) %></p>
          <h3><%= link_to "edit", edit_photo_path(photo) %> /  <%= link_to "remove", photo, method: :delete %></h3>
        </div>
      </div>
    </div>
  <% end %>
</div>