<h1>Edit <%= @event.name%></h1>

 <%= link_to "Delete", remove_event_path(@event.id), method: :delete, class:"btn btn-danger" %>

<br>
<br>
<%= render partial: 'form' %>

<h3>Edit Photos:</h3>

<div class="row">
  <% @event.photos.each do |photo| %>
    <div class="col-sm-6 col-md-4" style="height:auto; width:auto; max-width:300px; max-height:436.667px;">
      <div class="thumbnail">
        <%= image_tag(photo.url+"-/autorotate/yes/") %>
        <div class="caption">
            <p><%= photo.description %></p>
           <p>added by: <%= link_to photo.creator_name, user_path(photo.creator_id) %></p>
          <h3><%= link_to "edit", edit_photo_path(photo) %> /  <%= link_to "remove", photo, method: :delete %></h3>
        </div>
      </div>
    </div>
  <% end %>
</div>

<h3>Edit Comments:</h3>
 <% @event.comments.each do |comment| %>
<blockquote>
<h4><%= link_to "edit", edit_comment_path(comment) %> /  <%= link_to "remove", comment, method: :delete %></h4>
<p><%= comment.content%></p>
<footer><%= link_to comment.creator_name, user_path(comment.creator_id) %></footer>
</blockquote>
  <% end %>