<h1 class="text-center">See all Events</h1>






<% @events.each do |event|%>
 <div class="container-fluid">
  <div class="row">

<div class="col-md-6">
<div class="text-center">

<h4><%= event.address %></h4>

<div class="col-md-6">
<h4><%= event.description %></h4>
</div>
</div>
</div>
<% end %> 


<h1>Create an event</h1>

<%= form_for( [@user, @event], html:{class: "form-horizontal", role: "form"}) do |f| %>
  <div class="form-group">
    <%= f.label :date, class: "col-sm-2" %>
    <div class="col-sm-4">
      <%= f.datetime_field :user, :meeting_time, class: "form-control" %>
    </div>
  </div>
   <div class="form-group">
    <%= f.label :duration, class: "col-sm-2" %>
    <div class="col-sm-4">
      <%= f.text_field :duration, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :description, class: "col-sm-2" %>
    <div class="col-sm-4">
      <%= f.text_area :description, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-10 col-sm-offset-2">
      <%= f.submit class:"btn btn-primary" %>
 
    </div>
  </div>
  
<% end %>