<h1 class="text-center">See all Events</h1>


<%= link_to "Add this to google calendar", send_to_google_path%>


<% @events.each do |event|%>

<div>
<h3>Event Name:</h3>
<h4><%= event.name %></h4>
</div>
<div>
<h3>Event Description:</h3>
<h4><%= event.description %></h4>
</div>
<div>
<h5>Created By: <%= event.creator_id%></h5>
</div>
<%= link_to "Event Show Page", event_path(event.id)%>
/ <%= link_to "Event Edit Page", edit_event_path(event.id)%>
<% end %>


<h1>Create an event</h1>

<%= render partial: 'form' %>

