<h1 class="text-center">See all Events</h1>




<% if @events%>

<% @events.each do |event|%>


<div>
<h4>Event Name:</h4>
<h3><%= link_to event.name, event_path(event.id)%></h3>
</div>
<div>
<h4>Event Description:</h4>
<h4><%= event.description %></h4>
</div>
<div>
<h5>Created By: <%= link_to event.creator_name, user_path(event.creator_id) %></h5>
</div>
<a href="/send_to_google?event_id=<%= event.id %>"><img src="https://www.google.com/calendar/b/0/images/calendar_plus_en.gif" alt="Add to Google Calendar"></a>
<% end %>

<% else %>

<h4>No Events Listed....</h4>

<% end %>


<h1>Create an event</h1>

<%= render partial: 'form' %> 



