<% if current_user == nil or current_user.id != @event.creator_id.to_i%>
<%= link_to "Attend Event", attend_path(@event.id), method: :post,  class:"btn btn-primary" %>
<% else %>
 <%= link_to "Edit", edit_event_path(@event.id), class:"btn btn-info"%>
<% end %>
 <br>


 <h1 class="page-header text-center"><%= @event.name %></h1> 

 <div class="row" >
  
<!-- Info box -->
  <div class="col-md-6 info_box"style="height: 400px; overflow: scroll;" >
    
    <h3><%= @event.description%></h4>
    <h4>Address: <%= @event.address %></h4>
    <%= @event.start_time %>
    

    <!-- Add to google calendar link -->
    <a href="/send_to_google?event_id=<%= @event.id %>" ><img src="https://www.google.com/calendar/b/0/images/calendar_plus_en.gif" alt="Add to Google Calendar"></a>
    <p>Created By: <%= link_to @event.creator_name, user_path(@event.creator_id) %></p>
  </div>

<!-- Map -->
  <div class="col-md-6">
    <div id="map_canvas" style="width:100%; height:400px;"></div>
  </div>

 </div>






<br>
<br>

<!-- Hidden divs to add pics and comments -->

<% if @attending.any? {|id| id == @current_user.id}%>

  <% if @current_user %>

    <div class="add_things" id="add_photos_div"><%= link_to "Add Photos", events_path, class:"btn btn-primary", id:"add_photos_button" %></div>
    <div class="add_things" id="add_comments_div"><%= link_to "Add Comments", events_path, class:"btn btn-success", id:"add_comments_button" %></div>


    <div class="row">

        <div class="col-md-6" id="helper_div">

        </div>

        <div class="col-md-6" id="photo_drop_down">
          <%= render partial: 'photo_form' %>
        </div>

        <div class="col-md-6" id="comment_drop_down">
          <%= render partial: 'comment_form' %>
        </div>

    </div>

  <% end %>
<% end %>


<!-- Pictures Div -->
<h3>Pictures taken at <%= @event.name %>:</h3>
<div class="row photo_row">
  <% @event.photos.each do |photo| %>
    <div class="col-sm-6 col-md-4" style="height:300px; width:auto; max-width:300px; max-height:436.667px;">
      <div class="thumbnail">
        <%= image_tag(photo.url+"-/autorotate/yes/") %>
        <div class="caption">
            <p><%= photo.description %></p>
            <p>added by: <%= link_to photo.creator_name, user_path(photo.creator_id) %></p>
        </div>
      </div>
    </div>
  <% end %>

</div>



<!-- Comments Div -->
<h3 class = "comments">Comments:</h3>
  <% @event.comments.each do |comment| %>
    <blockquote>
      <p><%= comment.content%></p>
      <footer><%= link_to comment.creator_name, user_path(comment.creator_id) %>

      <% unless @current_user == nil or @current_user.id != comment.creator_id.to_i %>
        / <%= link_to "remove", comment, method: :delete %>
      <% end %>

      </footer>
    </blockquote>
  <% end %>



<h3>People Attending:</h3>
<% @event.users.each do |user| %>

  <p>- <%= user.name%></p>

<% end %>





<br>
<br>
<br>
