 <%= link_to "Edit", edit_event_path(@event.id), class:"btn btn-info"%>

   <%= link_to "Attend Event", attend_path(@event.id), method: :post,  class:"btn btn-primary" %>
 <br>

<h1><%= @event.name %></h1>
<h2><%= @event.description%></h2>

<!-- Add to google calendar link -->
<a href="/send_to_google?event_id=<%= @event.id %>"><img src="https://www.google.com/calendar/b/0/images/calendar_plus_en.gif" alt="Add to Google Calendar"></a>

<div class="row">
  <% @event.photos.each do |photo| %>
    <div class="col-sm-6 col-md-4" style="height:436.667px;">
      <div class="thumbnail">
        <%= image_tag(photo.url) %>
        <div class="caption">
            <p><%= photo.description %></p>
            <p>added by: <%= link_to photo.creator_name, user_path(photo.creator_id) %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
<h3>Comments:</h3>
 <% @event.comments.each do |comment| %>
<blockquote>
<p><%= comment.content%></p>
<footer><%= link_to comment.creator_name, user_path(comment.creator_id) %></footer>
</blockquote>
  <% end %>




<h2>Add Photos:</h2>

 <%= render partial: 'photo_form' %>

 <h2>Add Comments:</h2>

 <%= render partial: 'comment_form' %>