<h1><%= @event.name %></h1>
<h2><%= @event.description%></h2>

<div class="row">
  <% @event.photos.each do |photo| %>
    <div class="col-sm-6 col-md-4" style="height:436.667px;">
      <div class="thumbnail">
        <%= image_tag(photo.url) %>
        <div class="caption">
            <p><%= photo.description %></p>
            <p>added by: <%= link_to photo.creator_name, user_path(photo.creator_id) %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
 <%= link_to "Edit", edit_event_path(@event.id), class:"btn btn-info"%>
<h2>Add Photos:</h2>

 <%= render partial: 'photo_form' %>

 <h2>Add Comments:</h2>

 <%= render partial: 'comment_form' %>