<!DOCTYPE html>
<html>
<head>
  <title>Tracy Events</title>
  <script src="https://maps.googleapis.com/maps/api/js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>

 <%= include_uploadcare_widget_from_cdn version: "1.5.5", min: true %>
  <%= uploadcare_settings %>

</head>
<body class = "<%= controller_name %> <%= action_name %>">

  <nav id="mainNav" class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <%= link_to "Local Me", root_path, class:"navbar-brand" %>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">

          <li><%= link_to "All Events", events_path %></li>
          <% if @current_user && action_name == "index" && controller_name == "events" %>
              <li><%= link_to "Add a New Event", root_path, id:"add_event_button" %></li>
          <% end %>
          
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if @current_user %>
            <li><%= link_to "Hello, #{@current_user.name}", user_path(@current_user)%></li>
            <li><%= link_to "Log Out", logout_path %></li>
          <% else %>
            <li><%= link_to "Login with Google", '/auth/google_oauth2' %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>

<div class="container">

 <% flash.each do |key, value| %>
      <% if key == "notice" %>
        <%= content_tag :div, value, class: "text-center alert alert-warning" %>
      <% elsif key == "alert" %>
        <%= content_tag :div, value, class: "text-center alert alert-danger" %>
      <% else %>
        <%= content_tag :div, value, class: "text-center alert alert-success" %>
      <% end %>
    <% end %>


<%= yield %>
</div>


</body>
</html>
